.NavMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 0;
}
.NavMenu a,
.NavMenu .current {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
}
.NavMenu a:not(.current):hover {
    text-decoration: underline;
}
.NavMenu .current {
    background-color: var(--link-color);
    color: var(--link-color-text);
}

.FooterSpace {
    height: calc( 100vw * 600/1080 );
}

body {
    background-image: url(../../art/edelweiss-flower-1080.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

.phone-humber{
    white-space: nowrap;
}